[
  "assembler_east_base",
  "assembler_east_level",
  "assembler_east_owner",
  "belt_east_base",
  "belt_north_base",
  "belt_turn_en_base",
  "furnace_base",
  "furnace_level",
  "furnace_owner",
  "hq_east_base",
  "hq_east_level",
  "hq_east_owner",
  "miner_east_2x2_base",
  "miner_east_2x2_level",
  "miner_east_2x2_owner",
  "miner_east_3x2_base",
  "miner_east_3x2_level",
  "miner_east_3x2_owner",
  "miner_east_3x3_base",
  "miner_east_3x3_level",
  "miner_east_3x3_owner",
  "miner_east_base",
  "miner_east_level",
  "miner_east_owner",
  "miner_east_tall_base",
  "miner_east_tall_level",
  "miner_east_tall_owner",
  "soldier_base",
  "soldier_level",
  "soldier_owner",
  "sorter_east_base",
  "sorter_east_level",
  "sorter_east_owner",
  "splitter_east_base",
  "splitter_east_level",
  "splitter_east_owner",
  "storage_base",
  "storage_level",
  "storage_owner",
  "turret_east_base",
  "turret_east_level",
  "turret_east_owner",
  "wall_h_base",
  "wall_h_level",
  "wall_h_owner",
  "wall_v_base",
  "wall_v_level",
  "wall_v_owner",
  "worker_base",
  "worker_level",
  "worker_owner"
]