[
  "advanced_circuit_base",
  "alchemy_lab_base",
  "alchemy_lab_level",
  "alchemy_lab_owner",
  "ammo_base",
  "arboretum_base",
  "arboretum_level",
  "arboretum_owner",
  "archive_base",
  "archive_level",
  "archive_owner",
  "assembler_east_base",
  "assembler_east_level",
  "assembler_east_owner",
  "assembly_crane_base",
  "assembly_crane_level",
  "assembly_crane_owner",
  "assembly_matrix_base",
  "assembly_matrix_level",
  "assembly_matrix_owner",
  "battery_base",
  "belt_east_base",
  "belt_north_base",
  "belt_turn_en_base",
  "blast_furnace_base",
  "blast_furnace_level",
  "blast_furnace_owner",
  "bread_base",
  "brick_base",
  "builder_base",
  "builder_level",
  "builder_owner",
  "burner_generator_base",
  "burner_generator_level",
  "burner_generator_owner",
  "circuit_base",
  "coal_base",
  "cobblestone_path_base",
  "cobblestone_path_level",
  "cobblestone_path_owner",
  "compactor_base",
  "compactor_level",
  "compactor_owner",
  "composite_base",
  "concrete_base",
  "copper_ore_base",
  "copper_plate_base",
  "copper_wire_base",
  "crude_oil_base",
  "cultivator_base",
  "cultivator_level",
  "cultivator_owner",
  "deep_core_drill_base",
  "deep_core_drill_level",
  "deep_core_drill_owner",
  "drivetrain_base",
  "electric_engine_base",
  "electronic_module_base",
  "electronics_lab_base",
  "electronics_lab_level",
  "electronics_lab_owner",
  "enchanting_array_base",
  "enchanting_array_level",
  "enchanting_array_owner",
  "energy_base",
  "excavation_rig_base",
  "excavation_rig_level",
  "excavation_rig_owner",
  "explosive_base",
  "farm_base",
  "farm_level",
  "farm_owner",
  "fertilizer_base",
  "flour_base",
  "foundry_base",
  "foundry_level",
  "foundry_owner",
  "furnace_base",
  "furnace_level",
  "furnace_owner",
  "fusion_core_base",
  "gear_base",
  "glass_base",
  "grand_counterweight_base",
  "grand_counterweight_level",
  "grand_counterweight_owner",
  "guild_hall_base",
  "guild_hall_level",
  "guild_hall_owner",
  "high_speed_track_base",
  "hq_east_base",
  "hq_east_level",
  "hq_east_owner",
  "iron_beam_base",
  "iron_ore_base",
  "iron_plate_base",
  "laser_crystal_base",
  "lubricant_base",
  "machine_frame_base",
  "miner_east_2x2_base",
  "miner_east_2x2_level",
  "miner_east_2x2_owner",
  "miner_east_3x2_base",
  "miner_east_3x2_level",
  "miner_east_3x2_owner",
  "miner_east_3x3_base",
  "miner_east_3x3_level",
  "miner_east_3x3_owner",
  "miner_east_base",
  "miner_east_level",
  "miner_east_owner",
  "miner_east_tall_base",
  "miner_east_tall_level",
  "miner_east_tall_owner",
  "motor_base",
  "nano_pack_base",
  "ore_base",
  "petroleum_gas_base",
  "pipe_base",
  "plastic_base",
  "player_base",
  "player_level",
  "player_owner",
  "power_pole_base",
  "power_pole_level",
  "power_pole_owner",
  "processing_unit_base",
  "pumpjack_base",
  "pumpjack_level",
  "pumpjack_owner",
  "radar_array_base",
  "rocket_fuel_base",
  "rubber_base",
  "runner_base",
  "sand_base",
  "scanner_module_base",
  "screw_base",
  "scribing_desk_base",
  "scribing_desk_level",
  "scribing_desk_owner",
  "scroll_of_conservation_base",
  "scroll_of_haste_base",
  "scroll_of_plenty_base",
  "soldier_base",
  "soldier_level",
  "soldier_owner",
  "sorter_east_base",
  "sorter_east_level",
  "sorter_east_owner",
  "splitter_east_base",
  "splitter_east_level",
  "splitter_east_owner",
  "steel_base",
  "stone_base",
  "storage_base",
  "storage_level",
  "storage_owner",
  "sulfur_base",
  "sulfur_powder_base",
  "tank_base",
  "targeting_computer_base",
  "telemetry_unit_base",
  "thermal_bore_base",
  "thermal_bore_level",
  "thermal_bore_owner",
  "turret_east_base",
  "turret_east_level",
  "turret_east_owner",
  "wall_h_base",
  "wall_h_level",
  "wall_h_owner",
  "wall_v_base",
  "wall_v_level",
  "wall_v_owner",
  "watchtower_base",
  "watchtower_level",
  "watchtower_owner",
  "wheat_base",
  "wood_base",
  "worker_base",
  "worker_level",
  "worker_owner"
]